body
{
	margin: 0;
	padding: 0;
	color: #fff;
    font: roboto;
    background-image: url('../images/theme/bg.jpg') !important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    width: 100%;
    right:0;
}
#page
{
	margin-top: 0px;
	margin-bottom: 5px;
    width:80%;
}
/*####################################__HEADER_START__###############################*/
.header
{
    margin-top: 2px;
	padding-top: 10px;
    position: absolute;
    display:block;
    height:250px;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.8);
    margin-right: 0px;
}

.header a:hover{
    text-decoration: none;
    background: none;
}

.header-logo{
    margin-left: 12.5%;
    margin-top: 30px;
    width:150px;
    height:36px;
}

.header-social{
    display:block;
    float: left;
    margin-left: 12.5%;
    width: auto;
    font-size: 12px;
    color: #FFF;
    vertical-align: baseline;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
}

.header-social ul li{
    list-style-type: none;
    display: inline;
}

.header-social ul li a{
    text-decoration: none;
}

.header-social ul li a img{
    height: 16px;
    width: 16px;
    margin: -4px 2px;
}
/*####################################__HEADER_END__###############################*/
.main-content{
    margin-left:15.5%;
    text-align: justify;
    width: 90%;
}

#content
{
}

#sidebar
{
	padding: 20px 20px 20px 0;
}
/*####################################__FOOTER_START__###############################*/
.footer
{
    display: block;
    position: absolute;
    width:100%;
    left:0px;
	font-size: 0.9rem;
    background-color: rgba(99,99,99,0.9);
    font-weight: 400;
    height: auto;
    color:#fff;
    padding-top: 20px;
}

.footer a{
    color:#fff;
    text-decoration: none;
}

.footer ul{
    list-style-type: none;
}

.footer-logo{
    position: absolute;
    display: block;
    margin:0px auto ;
    width: 48px;
    height: 48px;
    left: 47%;
    top: -25px;
}

.footer-left{
    text-align: left;
    float: left;
    width: 28%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 1.6rem;
    margin-left:12.5%;
    margin-right: 0%;
}

.footer-center{
    text-align: left;
    float: left;
    width: 20%;
    margin: 10px 0px;
    line-height: 1.5rem;
    padding-left:3%;
}

.footer-right{
    text-align: center;
    float:right;
    width: 20%;
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 1.3rem;
    margin-right:12.5%;
}

.footer a:hover{
    background-color: #c2c2c2;
    text-decoration: none;
    border-radius: 4px;
    color:#3f3e3f;
}

.footer-copyright{
    display:block;
    width: 100%;
    margin:10px;
    text-align: center;
    clear:both;
    margin: 5px 0;
}

[class^="yp-icon-"], [class*=" yp-icon-"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 2px;
}

.yp-icon-mail{
    background-image: url("../images/theme/footer_icons/yp-icon-mail.png");
}

.yp-icon-tel{
    background-image: url("../images/theme/footer_icons/yp-icon-tel.png");
}

.yp-icon-email{
    background-image: url("../images/theme/footer_icons/yp-icon-email.png");
}

.yp-icon-click{
    background-image: url("../images/theme/footer_icons/yp-icon-click.png");
}

.yp-icon-facebook{
    background-image: url("../images/theme/footer_icons/yp-icon-facebook.png");
}

.yp-icon-google{
    background-image: url("../images/theme/footer_icons/yp-icon-google.png");
}

.yp-icon-twitter{
    background-image: url("../images/theme/footer_icons/yp-icon-twitter.png");
}

.yp-icon-weibo{
    background-image: url("../images/theme/footer_icons/yp-icon-weibo.png");
}


/*####################################__FOOTER_END__###############################*/
#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

